.leaflet-control-container .leaflet-top {margin-top: 200px ;}
.leaflet-control-locate{margin-top:10px !important;}
.leaflet-top .leaflet-control {margin-top:10px !important;}

.leaflet-container .leaflet-control-search{position:relative;float:left;background:#fff;color:#1978cf;border:2px solid rgba(0,0,0,.2);background-clip:padding-box;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-color:rgba(255,255,255,.8);z-index:1000;margin-left:9px;margin-top:9px}.leaflet-control-search.search-exp{background:#fff;border:2px solid rgba(0,0,0,.2);background-clip:padding-box}.leaflet-control-search .search-input{display:block;float:left;background:#fff;border:1px solid #666;border-radius:2px;height:22px;padding:0 20px 0 2px;margin:4px 0 4px 4px}.leaflet-control-search.search-load .search-input{background:url(/template/image/loader.gif) no-repeat center right #fff}.leaflet-control-search.search-load .search-cancel{visibility:hidden}.leaflet-control-search .search-cancel{display:block;width:22px;height:22px;position:absolute;right:28px;margin:4px 0;background:url(/template/img/btn-cancel.png?v=3) no-repeat center;text-decoration:none;opacity:.8}.leaflet-control-search .search-cancel:hover{opacity:1}.leaflet-control-search .search-cancel span{display:none;font-size:18px;line-height:20px;color:#ccc;font-weight:700}.leaflet-control-search .search-cancel:hover span{color:#aaa}.leaflet-control-search .search-button{display:block;float:left;width:33px;height:33px;background:url(/template/img/btn-search.png?v=3) no-repeat 9px 9px #fff;border-radius:4px;margin:0}.leaflet-control-search .search-tooltip{position:absolute;top:100%;left:0;float:left;list-style:none;padding-left:0;min-width:120px;max-height:122px;box-shadow:1px 1px 6px rgba(0,0,0,.4);background-color:rgba(0,0,0,.25);z-index:1010;overflow-y:auto;overflow-x:hidden;cursor:pointer}.leaflet-control-search .search-tip{margin:2px;padding:2px 4px;display:block;color:#000;background:#eee;border-radius:.25em;text-decoration:none;white-space:nowrap;vertical-align:center}.leaflet-control-search .search-button:hover{background-color:#f4f4f4}.leaflet-control-search .search-tip-select,.leaflet-control-search .search-tip:hover{background-color:#fff}.leaflet-control-search .search-alert{cursor:pointer;clear:both;font-size:.75em;margin-bottom:5px;padding:0 .25em;color:#e00;font-weight:700;border-radius:.25em}

.standard_sqi_legend{font-size:10px!important;bottom:5%;position:absolute;right:16px;background:rgba(0,0,0,.5)}.standard_sqi_legend .table{z-index:1;position:relative;margin-bottom:0}.standard_sqi_legend .table-footer .table-row{border-bottom:1px solid #fff}.standard_sqi_legend .table-column{min-height:30px;-webkit-box-align:center;padding:5px;text-align:center}.table-row:first-of-type{text-align:left}.table .bg-blue,.table .bg-green,.table .bg-orange,.table .bg-red,.table .bg-yellow{padding-left:5px;padding-right:5px;min-width:50px}.standard_sqi_legend .table-footer .head{-webkit-box-flex:1;-ms-flex:1;flex:1;font-weight: bold;color:#fff;padding-left:20px}

.legend{font-size:10px!important;bottom:15%;position:absolute;right:16px;width:150px;background:rgba(0,0,0,.5)}.legend .legend-color{width:20%}.legend .legend-name{width:80%;text-align:left;color:#fff}
.legend2{font-size:10px!important;bottom:5%;position:absolute;left:16px;width: 140px;background:rgba(0,0,0,.5)}.legend2 .legend-header{text-align: center;color:#fff;}.legend2 .legend-stat{width:40%;text-align: right;color:#fff;}.legend2 .legend-name{width:60%;text-align:left;color:#fff}
.btn-table {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.signoutz-marker {
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #3cbbe5;
    text-align: center;
    color: #000;
    font-size: 1.2em;
    padding: 5px 0;
}

.mapload{
    bottom: 15%;
    position: absolute;
    right: 16px;
    padding: 2px 5px;
    background: rgba(0,0,0,.8);
    color: #ffffff;
    font-size: 10px;
}

.pm_bg{
	border-radius: 5px;
    color: #fff;
	max-width: 50px;
	margin: 0 auto;
}

.stat-footer{position: fixed;
    width: 100%;
    bottom: 5px;}
.standard_sqi_legend_footer td.table-col {
    max-width: 10px;
    /* color: #fff; */
    text-align: center;
}

.signoutz-hotspot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.btn-close, .btn-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}

.table {
  z-index: 1;
  position: relative;
  margin-bottom: 0;
}
.table.hourly {
  background-color: #fff;
}
.table-head {
  border-top: 1px solid #f4f4f6;
  border-bottom: 2px solid #f4f4f6;
  font-family: RSUBold, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
}
.table-head .table-column {
  line-height: 1;
}
.table-head .table-column:first-of-type {
  align-items: center;
  display: flex;
  text-align: left;
}
.table-row {
  display: flex;
  justify-content: space-between;
}
.table-row:first-of-type {
  text-align: left;
}
.table-column {
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.table-column:first-of-type {
  text-align: left;
  flex-basis: 50%;
  font-size: 14px;
  justify-content: flex-start;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.table-column:nth-of-type(2) {
  flex-basis: 70%;
}
.table-column:nth-of-type(3),
.table-column:nth-of-type(4) {
  flex-basis: 10%;
  text-align: center;
}
.table .bg-blue,
.table .bg-green,
.table .bg-orange,
.table .bg-red,
.table .bg-yellow {
  min-width: 10px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: 50px;
  flex-basis: 50px;
  flex-grow: 0;
}
.table .bg-orange {
  background-color: #f93;
}
.table .bg-yellow {
  background-color: #ffe600;
  color: #212529 !important;
}
.table .bg-green {
  background-color: #00b050;
}
.table .bg-blue {
  background-color: #00a8df;
}
.table .bg-red {
  background-color: red;
}
.table-body .bg-blue,
.table-body .bg-green,
.table-body .bg-orange,
.table-body .bg-red,
.table-body .bg-yellow {
  border-radius: 5px;
  color: #fff;
}
.footer-hourly {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6c757d;
  z-index: 2;
  font-size: 10px;
  color: #fff;
}
.table-footer .head {
  flex: 1;
  font-family: RSUBold, sans-serif;
  color: #fff;
  padding-left: 20px;
}
.table-footer .table-row {
  border-bottom: 1px solid #fff;
}
.daliy .table-column:first-of-type {
  flex-basis: 80%;
}

.card-marker .card-body {
    background-color: rgba(0,191,243,.64);
    margin-bottom: 1px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 15px;
}

h1, h2, h3, h4, h5{ font-family: RSUBold, sans-serif;}

#popupHotspot .card-marker .card-body .card-title {
  font-size: 25px !important;
}

#popupHotspot h5 {
  background-color: #fff;
width: 150px;
color: #333;
border-radius: 10px;
margin: 0 auto;
  margin-bottom: 0px;
font-weight: bold;
margin-bottom: 10px;
padding: 5px 0;
}



@media (max-width: 575.98px) {
	.leaflet-control-container .leaflet-top {margin-top: 150px ;}
	.legend2{bottom:15%;height: 130px;overflow-y: scroll;width: 100px;}
	.legend{height: 130px;overflow-y: scroll;}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.leaflet-control-container .leaflet-top {margin-top: 150px ;}
	.legend2{bottom:15%;height: 130px;overflow-y: scroll;width: 100px;}
	.legend{height: 130px;overflow-y: scroll;}
}